<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='Time_Management_logo.png') }}"/>
</head>
<center>
<body>
    <div class="splash-container">
        <br><br><br><br><br><br><br><br>
        <h2>Register</h2>
    <form action="{{ url_for('register') }}" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register">
    </form>
    </div>
</body>
</center>
</html>